{
  "name": "{{ connector_source_name }}",
  "config": {
    "connector.class": "io.debezium.connector.mongodb.MongoDbConnector",
    "tasks.max": "1",
    "mongodb.hosts": "rs0/{{ source_mongo_host }}:{{ source_mongo_port }}",
    "mongodb.name": "edge_cdc",
    "database.include.list": "{{ source_database_name }}",
    "capture.mode": "change_streams_update_lookup",
    "topic.prefix": "cdc_telemetry",
    "errors.log.enable": "true",
    "errors.log.include.messages": "true"
  }
}
